

#body{
  margin: 0;
  padding: 3em 4em;
  background-color: hsl(257, 40%, 49%);
  color: white;
  font-family: 'Poppins', sans-serif;
}


#header{
  font-size: 2.5em;
  font-weight: 600;
  margin-bottom: .5em;
  line-height: 1.5em;
}

#paragraph{
  line-height: 1.9em;
  margin-bottom: 2em;
}

.logo{
  width: 200px;
}

/* Main Content */

.main{
  margin-top: 1em;
}

.mockup{
  display: block;
  margin-top: 2em;
  float: left;
}

.content{
  width: 500px;
  float: left;
  text-align: left;
  margin: 3em;
}

/* Button */
.btn{
  width:200px;
}


span{
  color: hsl(257, 40%, 49%);
  font-family: 'Poppins', sans-serif;
}

/* Social Media */
.icons{
  margin-top:8em;
  position: absolute;
  right:10em;

}

.fab{
  padding:1em;
}

.fab:hover{
  color: black;
}
