

/* LOGO */

#logo{
  width:200px ;
}

.logo-row{
  margin-bottom: 2em;
}

/* Content */

#content-div{
  padding-left:7em;
  padding-top: 2.5em;
}

#header{
  font-weight: 600;
  margin-bottom: 1.2em;
  line-height: 1.5em;
}

#paragraph{
  line-height: 1.7em;
  padding-bottom: 1em;
}

.btn{
  width: 9.375em;
}

span{
  color: hsl(257, 40%, 49%);
}

/* ICONS */

#icons{
  display: contents;
}

#icons-row{
  margin-top: 100px;
}

.fab{
  padding: 0 1em;
}

/* MEDIA QUERY */

@media (max-width:991px)
{
 body{
    text-align: center;
  }

  #content-div{
    padding-left: 0;
  }

  #icons{
  display: block;
  }

}
